// Colors

$white: #ffffff;
$black: #000000;
$primary: #FF6060;
$grey: #F6F6F6;

// Box

$maxWidth: 1270px;

$radius-s: 5px;
$radius-m: 10px;
$radius-l: 25px;

$gradient-thumb: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);